.button
  border: none
  border-radius: 2px
  font-family: 'Futura Demi'
  text-transform: uppercase
  font-size: 0.94rem
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2);
    transition: box-shadow 0.2s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
  &:hover
    cursor: pointer
.hero__button
  margin-right: 1.28rem
  .button--primary, .button--outline
  width: 207px
  height: 51px
.label
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
.input
  width: 100%
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  padding: 0.5rem 0
  &-section
    position: relative
  &--light
    color: $light
    &::placeholder
      color: $light
  &--dark
    color: $dark
    &::placeholder
      color: $dark
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    font-size: 1.142rem
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      justify-content: center
.scrollup
  width: 40px
  height: 40px
  opacity: 0.3
  position: fixed
  bottom: 50px
  right: 15px
  display: none
  background: url('../img/icon_top.png') no-repeat
  transition: 0.5s
  &:hover
    opacity: 0.7
div
  &.invalid
    width: 100%
    color: tomato
    position: absolute
    
