@media screen and ( max-width: 1285px )
  html
    font-size: 12px
@media screen and ( max-width: 1200px )
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    display: none
@media screen and ( max-width: 890px )
  .card
    &__title
      width: 10.714rem
  .col-50
    margin-right: 2rem
    &:nth-child(2)
      flex-basis: 40%
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types,
  .design
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
  .section-title
    &__description
      margin: auto
      margin-top: 1.64rem
      width: 80%
      min-width: 25.5rem
      font-size: 1.07rem
      line-height: 135.84%
  .swiper
    &-slide
      &__text
        &:nth-child(2n)
          flex-basis: 60%
        &:nth-child(2n-1)
          flex-basis: 35%
  .col-50
    width: 100%
    &:first-child
      margin-bottom: 2.357rem
  .section
    &-title
      &__word
        &::after
          display: none
  .steps
    display: none

@media screen and ( max-height: 600px )
  .hero
    &__scroll-down
      display: none

@media screen and ( max-width: 576px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      border: none
  .hero
    .title
      font-size: 1.64rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__content
      max-width: 22.86rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
  .swiper
    &-slide
      &__text
        &:nth-child(n)
          flex-basis: 50%
    
  