@media screen and ( max-width: 1285px )
  html
    font-size: 12px
@media screen and ( max-width: 1200px )
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    display: none
@media screen and ( max-width: 576px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      border: none
  .hero
    .title
      font-size: 1.64rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__content
      max-width: 22.86rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
@media screen and ( max-height: 600px )
  .hero
    &__scroll-down
      display: none
    
  